.dropzone {
  align-items: center;
  background-color: #f9fafb;
  border: 1px dashed #d1d5db;
  border-radius: 12px;
  display: flex;
  height: 120px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.dropzone:hover {
  background-color: #f3f4f6;
}

.dropzone .image-label {
  color: #646464;
  font-size: 14px;
  font-weight: 500;
}